@* KATEGORİ MENÜSÜ *@
<li class="nav-item">
    <a data-bs-toggle="collapse" href="#base">
        <i class="fas fa-layer-group"></i>
        <p>Kategoriler</p>
        <span class="caret"></span>
    </a>
    <div class="collapse" id="base">
        <ul class="nav nav-collapse">
            <li>
                <a asp-area="Admin" asp-controller="Category" asp-action="Index">
                    <span class="sub-item">Kategori Listesi</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Category" asp-action="Create">
                    <span class="sub-item">Ekle</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-isDeleted="@true">
                    <span class="sub-item">Çöp Kutusu</span>
                </a>
            </li>
        </ul>
    </div>
</li>

@* ÜRÜN MENÜSÜ *@
<li class="nav-item">
    <a data-bs-toggle="collapse" href="#sidebarLayouts">
        <i class="fas fa-th-list"></i>
        <p>Ürünler</p>
        <span class="caret"></span>
    </a>
    <div class="collapse" id="sidebarLayouts">
        <ul class="nav nav-collapse">
            <li>
                <a asp-area="Admin" asp-controller="Product" asp-action="Index">
                    <span class="sub-item">Ürün Listesi</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Product" asp-action="Create">
                    <span class="sub-item">Ekle</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Product" asp-action="Trash" asp-route-isDeleted=@true>
                    <span class="sub-item">Çöp Kutusu</span>
                </a>
            </li>
        </ul>
    </div>
</li>

@* SİPARİŞ MENÜSÜ *@
<li class="nav-item">
    <a data-bs-toggle="collapse" href="#forms">
        <i class="fas fa-pen-square"></i>
        <p>Siparişler</p>
        <span class="caret"></span>
    </a>
    <div class="collapse" id="forms">
        <ul class="nav nav-collapse">
            <li>
                <a asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-orderstatus="@null">
                    <span class="sub-item">Tüm Siparişler</span>
                </a>
            </li>
            <li>
                          <a asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-startdate="@DateTime.Now.Date" asp-route-enddate="@DateTime.Now.Date.AddDays(1)">
                    <span class="sub-item">Bugünki Siparişler</span>
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="nav-item">
    <a asp-area="" asp-controller="Auth" asp-action="Logout">
        <i class="fas fa-file"></i>
        <p>Çıkış Yap</p>
    </a>
</li>