<!doctype html>
<html lang="tr">

<head>
    @await Html.PartialAsync("_HeadPartial")
</head>

<body>
    @await Html.PartialAsync("_HeaderPartial")
    @RenderBody()
    @await Component.InvokeAsync("Footer")
    @await Html.PartialAsync("_JsPartial")
</body>

</html>