@{
    ViewData["Title"] = "AccessDenied";
}

<section class="order_details section_gap mt-5">
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 60vh;">
        <div class="alert alert-danger text-center">
            Bu alana erişmek için yetkiniz bulunmamaktadır!
        </div>
    </div>
</section>
